<h3>About Me</h3>
<p>When I was in high school, I realized that I loved programming. I spent most of my summer vacations writing code for various websites. After high school I decided to make a career out of it. I have been developing software professionally for almost 12 years and still enjoy it. I currently write web applications using Ruby on Rails and ASP.NET MVC for both small and large companies.</p>

<h3>Technologies</h3>
<p>ASP (VBScript), ASP.NET 1.0/1.1/2.0/3.5 (C#/VB.NET), Perl, PHP, SQL, TSQL, HTML, JavaScript, Ruby</p>

<p>Git, Mercurial, Subversion, MbUnit, NUnit, TeamCity, CruiseControl .NET, ASP.NET AJAX, AJAX Control Toolkit, Nant, MSBuild, ReSharper 2.x/3.x, iTextSharp, MonoRail, ASP.NET MVC, Ruby on Rails 1.x/2.x/3.x</p>

<p>Windows 9x,2000,XP,2003, Mac OSX, AIX, Linux</p>

<p>IIS 5.0/5.1/6.0, Apache 1.x/2.0, Microsoft SQL Server 2000/2005, MySQL, PostgreSQL, Visual Studio 6/2002/2003/2005/2008/2010, ADSI, COM, WMI, Microsoft SMS Server, SQL Server Reporting Services</p>

<p>Interested in: Domain-Driven Design, Test-Driven Development, Application Design</p>