<h3>Contact Me</h3>
<p>I'm available my email, and Skype. You can also contact me via one of the social media links on the right side. </p>
<p><strong>Email:</strong> shane [at] shanebauer.com</p>
<p><strong>Skype:</strong> sbauer318</p>
