<h3>Little Bit About Me</h3>
<p>I'm an experienced software developer based out of Baltimore, Maryland. I spend most of my time working on web-based software applications. I have developed applications for small and large businesses. I also work on projects just for fun. Most of my projects have been written in Ruby/Ruby on Rails and C#/ASP.NET MVC.</p>
<br/>
<h3>About the Site</h3>
<p>This site was created using Ruby on Rails 4, and Twitter Bootstrap (I'm an awful designer). The site is currently hosted by Heroku. </p>