/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


nav a {
	color: #4099D8
}

.wrap {
	-moz-box-shadow: 0 0 5px #2B634A;
	-webkit-box-shadow: 0 0 5px #2B634A;
	box-shadow: 0 0 5px #2B634A;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	
}

.content {
	padding: 10px
}

header.upper h1 {
	text-transform: uppercase;
}

.nav-pills > .active > a
{
	background-color: #4099D8
}

footer 
{
	text-align: center;
}